<|- for q in questions -|>
<|- if q.type == 'essay' -|>
ESS<< "\t" >><< q.question >><< "\t" >><< q.answer >>
<|- elif q.type == 'ma' -|>
MA<< "\t" >><< q.question >><|-   for a in q.answers -|><< "\t" >><< a.answer >><< "\t" >><|- if a.correct -|>correct<|-else-|>incorrect<|-endif-|><|-   endfor -|>
<|- elif q.type == 'mc' -|>
MC<< "\t" >><< q.question >><|-   for a in q.answers -|><< "\t" >><< a.answer >><< "\t" >><|- if a.correct -|>correct<|-else-|>incorrect<|-endif-|><|-   endfor -|>
<|- elif q.type == 'matching' -|>
MAT<< "\t" >><< q.question >><|-   for a in q.answers -|><< "\t" >><< a.answer >><< "\t" >><< a.correct >><|-   endfor -|>
<|- elif q.type == 'ordering' -|>
ORD<< "\t" >><< q.question >><|-   for a in q.answers -|><< "\t" >><< a.answer >><|-   endfor -|>
<|- endif -|>
<< "\n" >>
<|-endfor -|>